*{
  box-sizing: border-box;
}
body {
  /* background-image: url('Wikimedium-Post.jpg'); */
  background-repeat: no-repeat;
  background-position: center top;
    font-family: 'PT Sans', sans-serif;
}
a{
  color: inherit;
}
